<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/css/spoil.css">

    <title>Dashboard</title>
</head>

<body class="bg-dark">

<div class="p-4 text-center">
    <div id="liveAlertPlaceholder"></div>

    <h1 class="text-white">MazdaAPI Client</h1>
    <hr class="text-white">

    <div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <button id="getVehiclesActionButton" type="button" class="btn btn-primary mx-auto">Get Vehicles</button>
            </div>
            <div class="form-group">
                <select id="vehicleListDropdown" class="form-select w-auto mx-auto" hidden>
                </select>
            </div>
        </form>
    </div>

    <hr class="text-white">
</div>

<div id="vehicleContent" class="text-center" hidden>

    <div class="table-responsive">
        <table class="table table-sm table-dark table-striped table-bordered mx-auto w-auto">
            <thead class="text-center">
            <tr>
                <th colspan="2">Base Vehicle Info</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Model</th>
                <td id="carModelInfo">carlineName</td>
            </tr>
            <tr>
                <th scope="row">Year</th>
                <td id="carYearInfo">modelYear</td>
            </tr>
            <tr>
                <th scope="row">Transmission</th>
                <td id="carTransmissionInfo">automaticTransmission</td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td id="carElectricInfo">isElectric</td>
            </tr>
            <tr>
                <th scope="row">Exterior Color</th>
                <td id="carExteriorColorInfo">exteriorColorName</td>
            </tr>
            <tr>
                <th scope="row">Interior Color</th>
                <td id="carInteriorColorInfo">interiorColorName</td>
            </tr>
            <tr>
                <th scope="row">Vin</th>
                <td><span class="spoiler" id="carVinInfo">1234567890ABCDEFG</span></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-sm table-dark table-bordered mx-auto w-auto">
            <thead class="text-center">
            <tr>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr>
                <th>Engine</th>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button id="startEngineActionButton" type="button" class="btn btn-primary btn-sm">
                            Start
                        </button>
                        <button id="stopEngineActionButton" type="button" class="btn btn-danger btn-sm">
                            Stop
                        </button>
                    </div>
                </td>
            </tr>

            <tr>
                <th>Doors</th>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button id="lockDoorsActionButton" type="button" class="btn btn-primary btn-sm">
                            Lock
                        </button>
                        <button id="unlockDoorsActionButton" type="button" class="btn btn-danger btn-sm">
                            Unlock
                        </button>
                    </div>
                </td>
            </tr>

            <tr>
                <th>Car Alarm</th>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button id="turnOnHazardsButton" type="button" class="btn btn-primary btn-sm">
                            Activate
                        </button>
                        <button id="turnOffHazardsButton" type="button" class="btn btn-danger btn-sm">
                            Deactivate
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="text-white">
    <button id="updateStatusButton" type="button" class="btn btn-primary btn-sm">Fetch Status</button>
    <hr class="text-white">

    <div class="bg-dark" id="statusDiv" hidden>
        <table class="table table-responsive table-sm table-dark table-striped table-bordered mx-auto w-auto">
            <thead class="text-center">
            <tr>
                <th colspan="2">Current Fuel Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Fuel Remaining</th>
                <td id="fuelRemainingPercent">%</td>
            </tr>
            <tr>
                <th scope="row">Driving Range</th>
                <td id="milesRemaining">miles</td>
            </tr>
            <tr>
                <th scope="row">Total Mileage</th>
                <td id="totalMileage">miles</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive table-sm table-dark table-striped table-bordered mx-auto w-auto">
            <thead class="text-center">
            <tr>
                <th colspan="2">Current Tire Status</th>
            </tr>
            </thead>
            <thead class="thead-light text-center">
            <tr>
                <th>Tire</th>
                <th scope="col">Pressure</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Driver Front</td>
                <td id="driverFrontTirePressure">pressure</td>
            </tr>
            <tr>
                <td>Passenger Front</td>
                <td id="passengerFrontTirePressure">pressure</td>
            </tr>
            <tr>
                <td>Driver Rear</td>
                <td id="driverRearTirePressure">pressure</td>
            </tr>
            <tr>
                <td>Passenger Rear</td>
                <td id="passengerRearTirePressure">pressure</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-sm table-dark table-striped table-bordered mx-auto w-auto">
            <thead class="text-center">
            <tr>
                <th colspan="3">Current Door Status</th>
            </tr>
            </thead>
            <thead class="text-center">
            <tr>
                <th>Door</th>
                <th colspan="2">State</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Driver Front</td>
                <td id="driverFrontDoorOpened">open/closed</td>
                <td id="driverFrontDoorLocked">locked/unlocked</td>
            </tr>
            <tr>
                <td>Passenger Front</td>
                <td id="passengerFrontDoorOpened">open/closed</td>
                <td id="passengerFrontDoorLocked">locked/unlocked</td>
            </tr>
            <tr>
                <td>Driver Rear</td>
                <td id="driverRearDoorOpened">open/closed</td>
                <td id="driverRearDoorLocked">locked/unlocked</td>
            </tr>
            <tr>
                <td>Passenger Rear</td>
                <td id="passengerRearDoorOpened">open/closed</td>
                <td id="passengerRearDoorLocked">locked/unlocked</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>

<script src="../static/js/ui_functions.js"></script>
<script src="../static/js/dashboard.js"></script>
</body>
</html>
