<!doctype html>

<html>

<head>
    <link rel="stylesheet" href="/static/css/loading.css">
    <title>Dashboard</title>
</head>

<body>

    <div id="loading">
        <img id="loading-image" src="/static/resources/loading.gif" alt="Loading..." />
    </div>
 
    <h1 style="text-align:center">Dashboard</h1>

    <button id="vehiclesButton">Get Vehicles</button>
    <button id="statusButton">Get Status</button>
  
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>

